* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    width: 100%;
    height: 7%;
    position: absolute;
    z-index: 1;
}

.logo img {
    width: 15%;
    height: 8%;
    left: 0;
    padding: 0.5%;
}

.hamburger {
    width: 4%;
    height: 7%;
    position: absolute;
    right: 0.5%;
    padding: 0.5%;
    top: 1%;
}

.background {
    position: absolute;
    width: 100%;
    height: fit-content;
    top: 7%;
}

.container {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    position: absolute;
    width: fit-content;
    top: 40%;
    left: 30%;
    z-index: 1;
}

.button {
    background-color: yellow;
    border: rgb(218, 165, 32) 0.3em solid;
    color: rgb(218, 165, 32);
    font-size: 17px;
    padding: 1.5% 10%;
    cursor: pointer;
    border-radius: 50px;
}

.footer {
    background-color: lightgray;
    width: 100%;
    height: 25%;
    bottom: 0;
    position: absolute;
    z-index: 0;
}

.bottom {
    position: absolute;
    right: 10%;
    width: 80%;
    height: 100%;
}

.inner-div1 {
    width: 5%;
    position: absolute;
    padding: 1% 0;
}

.inner-div2 {
    width: 50%;
    position: absolute;
    right: 53%;
    padding: 1% 0;
}
.inner-div3 {
    width: 5%;
    position: absolute;
    top: 50%;
    padding: 1% 0;
}

.inner-div4 {
    width: 50%;
    position: absolute;
    top: 50%;
    z-index: 1;
    right: 53%;
    padding: 1% 0;
}
.inner-div5 {
    width: 5%;
    position: absolute;
    top: 50%;
    right: 50%;
    padding: 1% 0;
}

.inner-div6 {
    width: 50%;
    position: absolute;
    top: 50%;
    z-index: 1;
    right: 5%;
    padding: 1% 0;
}
.inner-div7 {
    width: 5%;
    position: absolute;
    top: 0%;
    right: 50%;
    padding: 1% 0;
}

.inner-div8 {
    width: 50%;
    position: absolute;
    top: 0%;
    z-index: 1;
    right: 5%;
    padding: 1% 0;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    header {
        background-color: rgba(0, 0, 0, 0.699);
    }

    .footer {
        background-color: rgb(0, 0, 0);
    }

    .button {
        background-color: rgba(0, 0, 0, 0.815);
    }
    h1 {
        color: white;
    }
    p {
        color: white;
    }
}

@media screen and (min-width: 414px) and (max-width: 736px) {
    .logo img {
    width: 40%;
    padding: 2%;
}

.hamburger {
    width: 10%;
    position: absolute;
    right: 2%;
    padding: 0.2%;
    top: 7%;
}

.background {
    position: absolute;
    width: 424px;
    top: 7%;
}

.container {
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    width: fit-content;
    top: 20%;
    left: 20%;
    z-index: 1;
}

.footer{
    position: absolute;
    bottom: 0;
}

.inner-div1, .inner-div3, .inner-div5, .inner-div7 {
    display: none;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 12px;
}