* {
    box-sizing: border-box;
}

body {
    background-color: gray;
}

header {
    top: 0;
    width: 100%;
    background-color: white;
    height: 70px;
    position: absolute;
}

.logo img {
    width: 250px;
    height: 70px;
    position: relative;
    float: left;
    display: inline;
    left: 0;
    padding: 10px;
}

.hamburger {
    width: 60px;
    height: 60px;
    position: relative;
    float: right;
    display: inline;
    padding: 10x;
    top: 10px;
}

.background {
    background: no-repeat cover;
}

.container {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}

.button {
    background-color: yellow;
    color: goldenrod;
    width: 200px;
    border: goldenrod;
}
