

<main>
<div class="flex flex-col items-center p-3 bg-gray-200">
<div class="bg-gra-300">hell</div>
<div class="bg-gra-300"><h1 class="mb-2 font-semibold tracking-wide text-gray-600 uppercase">Project name </h1></div>
<div class="flex flex-row justify-between"><button class="px-3 py-1 mr-2 bg-gray-400 rounded-md shadow-lg text hover:bg-gray-500">heloo</button><button class="px-3 py-1 mr-2 bg-gray-400 rounded-md text">heloo</button></div>
</div>
</main>