* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 30px;
    gap: 0px 0px;
}

.Header {
    background-color: indigo;
    grid-area: 1 / 1 / 2 / 2;
}

.Main {
    background-color: grey;

    grid-area: 2 / 1 / 3 / 2;
}

.Footer {
    background-color: hotpink;
    grid-area: 3 / 1 / 4 / 2;
}
