* {
    box-sizing: border-box;
    padding: 0;
}

body {
    background: url(https://images.pexels.com/photos/2796145/pexels-photo-2796145.jpeg?cs=srgb&dl=pexels-vova-krasilnikov-2796145.jpg&fm=jpg)
        repeat-y center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    top: 0px;
    /* overflow: hidden; */
}

.fa-github-square {
    padding: 1%;
    font-size: 1.7rem;
    color: #f4f4f4;
    cursor: pointer;
}

.alert {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.search {
    /* border: hotpink 3px solid; */
    width: fit-content;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#submitBtn {
    margin-left: 2px;
}

h1 {
    color: #2baf19;
}
h5 {
    color: #f4f4f4;
    text-transform: uppercase;
    text-align: center;
}

#returnImg {
    max-width: 125px;
    max-height: 125px;
    min-width: 75px;
    min-height: 75px;
}
.full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 30%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    overflow: auto;
}

#headResults {
    padding: 1%;
    font-size: 1rem;
    color: whitesmoke;
    text-transform: uppercase;
    background-color: rgba(82, 82, 82, 0.336);
    text-align: center;
    visibility: hidden;
}

.resultsContainer {
    width: fit-content;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

img {
    opacity: 100%;
}

img:hover {
    opacity: 70%;
}

.media {
    background-color: rgba(85, 84, 84, 0.288);
    padding-top: 1%;
    padding: 0.5%;
    position: relative;
    border: rgba(245, 245, 245, 0.712) 1px solid;
    color: #f4f4f4;
}

.btnWrap {
    width: 100%;
    height: 2rem;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#moreBtn {
    width: 20%;
    visibility: hidden;
}
#prevBtn {
    width: 20%;
    visibility: hidden;
}

.footer {
    width: 100%;
    background-color: rgba(180, 155, 57, 0.404);
    color: #f4f4f4;
    position: fixed;
    top: 95%;
}

.love {
    padding-left: 1.5%;
    float: left;
    cursor: pointer;
}

.share {
    padding-right: 1.5%;
    float: right;
    cursor: pointer;
}
